// CLOCK
IO_LOC "SYS_CLK" 4;       // crystal
IO_PORT "SYS_CLK" PULL_MODE=UP IO_TYPE=LVCMOS33;
# IO_LOC "SYS_CLK" 10;          // PIN10_5351CKP CLK0  50 MHz
# IO_PORT "SYS_CLK" PULL_MODE=UP IO_TYPE=LVCMOS33;
# 5351 exact clock set to pll_clk O1=36200K -s
# IO_LOC "SYS_CLK" 11;            // PIN11_5351CKN CLK1 36.2 MHz
# IO_PORT "SYS_CLK" PULL_MODE=UP IO_TYPE=LVCMOS33;
# IO_LOC "SYS_CLK" 13;          // PIN13_5351CKP CLK2  x MHz
# IO_PORT "SYS_CLK" PULL_MODE=UP IO_TYPE=LVCMOS33;

// KEYS
IO_LOC "SW1" 88;
IO_PORT "SW1" PULL_MODE=NONE;
IO_LOC "SW2" 87;
IO_PORT "SW2" PULL_MODE=NONE;

// HDMI
IO_LOC "tmds_clk_p" 33;
IO_PORT "tmds_clk_p" PULL_MODE=NONE;
IO_LOC "tmds_clk_n" 34;
IO_PORT "tmds_clk_n" PULL_MODE=NONE;
IO_LOC "tmds_d_p[0]" 35;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE;
IO_LOC "tmds_d_n[0]" 36;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE;
IO_LOC "tmds_d_p[1]" 37;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE;
IO_LOC "tmds_d_n[1]" 38;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE;
IO_LOC "tmds_d_p[2]" 39;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE;
IO_LOC "tmds_d_n[2]" 40;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE;

// VGA
# IO_LOC  "vga_hs" 25;
# IO_PORT "vga_hs" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC  "vga_vs" 26;
# IO_PORT "vga_vs" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC  "vga_r[0]" 16;
# IO_PORT "vga_r[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC  "vga_r[1]" 29;
# IO_PORT "vga_r[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC  "vga_r[2]" 30;
# IO_PORT "vga_r[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC  "vga_g[0]" 27;
# IO_PORT "vga_g[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC  "vga_g[1]" 31;
# IO_PORT "vga_g[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC  "vga_g[2]" 17;
# IO_PORT "vga_g[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC  "vga_b[0]" 28;
# IO_PORT "vga_b[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC  "vga_b[1]" 20;
# IO_PORT "vga_b[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC  "vga_b[2]" 19;
# IO_PORT "vga_b[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// i2s audio
IO_LOC "I2S_DIN" 54;
IO_PORT "I2S_DIN" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "I2S_LRCK" 55;
IO_PORT "I2S_LRCK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "I2S_BCLK" 56;
IO_PORT "I2S_BCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "I2S_EN" 51;
IO_PORT "I2S_EN" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// AUDIO SIGMA-DELTA
IO_LOC "pwm_audio_out_l" 77;
IO_PORT "pwm_audio_out_l" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "pwm_audio_out_r" 85;
IO_PORT "pwm_audio_out_r" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// PS2 KEYBOARD
IO_LOC "ps2_clk" 73;
IO_PORT "ps2_clk" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "ps2_dat" 74;
IO_PORT "ps2_dat" PULL_MODE=UP IO_TYPE=LVCMOS33;

// Joystick 2
IO_LOC "joystick_clk2" 52;
IO_PORT "joystick_clk2" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "joystick_mosi2" 53;
IO_PORT "joystick_mosi2" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "joystick_miso2" 71;
IO_PORT "joystick_miso2" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "joystick_cs2"  72;
IO_PORT "joystick_cs2" PULL_MODE=NONE IO_TYPE=LVCMOS33;


# // SDCard
# IO_LOC "sd_clk" 83;
# IO_PORT "sd_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
# IO_LOC "sd_cmd" 82;        // MOSI
# IO_PORT "sd_cmd" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC "sd_dat0" 84;       // MISO
# IO_PORT "sd_dat0" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC "sd_dat1" 85;       // 1
# IO_PORT "sd_dat1" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC "sd_dat2" 80;       // 1
# IO_PORT "sd_dat2" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC "sd_dat3" 81;       // 1
# IO_PORT "sd_dat3" PULL_MODE=NONE IO_TYPE=LVCMOS33;

# // Joystick 1
# IO_LOC "joystick_clk" 17;
# IO_PORT "joystick_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC "joystick_mosi" 20;
# IO_PORT "joystick_mosi" PULL_MODE=NONE IO_TYPE=LVCMOS33;
# IO_LOC "joystick_miso" 19;
# IO_PORT "joystick_miso" PULL_MODE=UP IO_TYPE=LVCMOS33;
# IO_LOC "joystick_cs"  18;
# IO_PORT "joystick_cs" PULL_MODE=NONE IO_TYPE=LVCMOS33;

# // UART through USB-TTL dongle
# IO_LOC "UART_TXD" 30;
# IO_PORT "UART_TXD" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
# IO_LOC "UART_RXD" 31;
# IO_PORT "UART_RXD" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

# // 2 LEDs for debug
# IO_LOC "led[1]" 16;
# IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
# IO_LOC "led[0]" 15;
# IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

# IO_LOC "LED3" 18;
# IO_PORT "LED3" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
# IO_LOC "LED0" 15;
# IO_PORT "LED0" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
